.aboutproject {
  padding: 110px 70px;
}

.section__title {
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  padding-bottom: 23px;
  border-bottom: 1px #dadada solid;
}

.aboutproject__description {
  display: flex;
  padding: 70px 0 110px;
}

.aboutproject__description-title {
  margin: 0;
  padding-bottom: 26px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
}

.aboutproject__description-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

.aboutproject__timeline {
  display: flex;
  min-height: 36px;
}

.aboutproject__timeline-one {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  background-color: #3ddc84;
  max-width: 228px;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutproject__timeline-four {
  font-size: 14px;
  line-height: 17px;
  background-color: #303030;
  max-width: 912px;
  width: 100%;
  text-align: center;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutproject__timeline-description {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #8b8b8b;
  padding-top: 14px;
}

.aboutproject__timeline-description-back {
  max-width: 228px;
  width: 100%;
  margin: 0;
}

.aboutproject__timeline-description-front {
  max-width: 912px;
  width: 100%;
  margin: 0;
}
