.navigation__link {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  display: flex;
}

.navigation__link-item {
  text-decoration: none;
  color: white;
  margin: 0 20px;
}

.navigation__link-item:last-of-type {
  padding: 8px 20px;
  margin: -8px 0;
  background: #2be080;
  border-radius: 3px;
  color: #000;
}

.navigation__links {
  display: flex;
  gap: 364px;
}

.navigation__film-links {
  display: flex;
  gap: 16px;
}

.navigation__film-link {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
}

.navigation__film-link:last-child {
  font-weight: 400;
}

.navigation__account {
  width: 100px;
  height: 32px;
  display: flex;
  border: 2px solid rgba(170, 170, 170, 0.2);
  border-radius: 50px;
  gap: 7px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.navigation__account-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;
}

.navigation__film-link:hover,
.navigation__account:hover,
.navigation__burger-icon:hover,
.burger-menu__link:hover,
.burger-menu__link-account:hover,
.burger-menu__close-btn:hover {
  opacity: 0.7;
}

.navigation__burger-icon {
  background-image: url("../../images/burger-icon.svg");
  width: 44px;
  height: 44px;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  display: none;
}

.burger-menu {
  visibility: hidden;
  display: flex;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  transition: all 0.4s, opacity 0.5s ease-in-out;
  transform: translate(100%, 0%);
  z-index: 2;
}

.burger-menu_opened {
  transform: translate(0, 0);
  visibility: visible;
  opacity: 1;
  transition: all 0.5s, opacity 0.5s ease-in-out;
}

.burger-menu__container {
  background-color: #202020;
  position: absolute;
  right: 0;
  height: 100vh;
  max-width: 520px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.burger-menu__close-btn {
  background-image: url("../../images/burger-close.svg");
  background-color: transparent;
  background-position: center;
  position: absolute;
  top: 22.44px;
  right: 22.44px;
  border: none;
  cursor: pointer;
  height: 22px;
  width: 22px;
}

.burger-menu__links {
  margin: 159px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.burger-menu__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  margin: 0 0 28px;
  white-space: nowrap;
  text-decoration: none;
}

.navigation__account_burger {
  margin-bottom: 90px;
}

@media screen and (max-width: 768px) {
  .navigation__burger-icon {
    display: block;
  }
  .navigation__links {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .navigation {
    padding: 18px 14px;
  }

  .navigation__link {
    font-size: 10px;
    line-height: 16px;
  }

  .navigation__link-item {
    margin: 0 12px;
  }

  .navigation__link-item:last-of-type {
    padding: 5px 12px;
    margin: -5px 0;
  }

  .navigation__burger-icon {
    width: 40px;
    height: 43px;
  }

  .burger-menu__close-btn {
    top: 13.44px;
    right: 13.44px;
  }
}
